* {
}

.dear-line {
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 100;
}

.title {
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 200;
  font-size: 3rem;
}

.App-header {
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2rem;
}

.modal {
	height: 97.5vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  border: 10px dashed #0f4f0f; 
  background-color: white; 
  font-family: 'Arvo', serif;
}

.modal-content {
  margin: 5rem;
}

.x-button {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  border: solid;
  border-width: 5px;
  border-color: #dd2d44;
  background-color: white;
}

.App-main  {
  justify-content: center;
  align-items: center;
  color: white;
}

.signature {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 2rem;
}

.signature-column {
  width: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container {
  height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
  background: #112649;  
}

.santa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.heart {
  height: 2rem;
}

/*iPhone 5 */
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 568px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .title {
    font-weight: 200;
    font-size: 2rem;
  }
  .santa {
    height: 6rem;
  }
  .modal-content {
    margin: 1rem;
  }
  .modal {
    height: 96.5vh;
  }
  .App-header {
    padding-right: 1rem;
  }
  .x-button {
    width: 2rem;
    height: 2rem;
    border-width: 1px;
  }
}

/*iPhone 6/7/8 */
@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .title {
    font-weight: 200;
    font-size: 2rem;
  }
  .santa {
    height: 6rem;
  }
  .modal-content {
    margin: 1rem;
  }
  .modal {
    height: 96.5vh;
  }
  .App-header {
    padding-right: 1rem;
  }
  .x-button {
    width: 2rem;
    height: 2rem;
    border-width: 1px;
  }
}

/*iPhone 6/7/8Plus */
@media only screen 
and (min-device-width: 414px)
and (max-device-width: 736px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .title {
    font-weight: 200;
    font-size: 2rem;
  }
  .santa {
    height: 6rem;
  }
  .modal-content {
    margin: 2rem;
  }
  .modal {
    height: 96.5vh;
  }
  .App-header {
    padding-right: 1rem;
  }
  .x-button {
    width: 2rem;
    height: 2rem;
    border-width: 1px;
  }
}